<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.LearnSectionMapper">
  <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.LearnSection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="subject_code" jdbcType="VARCHAR" property="subjectCode" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
    <result column="mid_code" jdbcType="VARCHAR" property="midCode" />
    <result column="mid_name" jdbcType="VARCHAR" property="midName" />
    <result column="mid_type" jdbcType="VARCHAR" property="midType" />
    <result column="mid_order" jdbcType="INTEGER" property="midOrder" />
    <result column="mid_over" jdbcType="TINYINT" property="midOver" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, subject_id, subject_code, subject_name, mid_code, mid_name, mid_type, mid_order, 
    mid_over, request_url, create_time, create_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_learn_section
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_learn_section
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mindskip.xzs.domain.LearnSection" useGeneratedKeys="true">
    insert into t_learn_section (subject_id, subject_code, subject_name, 
      mid_code, mid_name, mid_type, 
      mid_order, mid_over, request_url, 
      create_time, create_user_id)
    values (#{subjectId,jdbcType=INTEGER}, #{subjectCode,jdbcType=VARCHAR}, #{subjectName,jdbcType=VARCHAR}, 
      #{midCode,jdbcType=VARCHAR}, #{midName,jdbcType=VARCHAR}, #{midType,jdbcType=VARCHAR}, 
      #{midOrder,jdbcType=INTEGER}, #{midOver,jdbcType=TINYINT}, #{requestUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mindskip.xzs.domain.LearnSection" useGeneratedKeys="true">
    insert into t_learn_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectCode != null">
        subject_code,
      </if>
      <if test="subjectName != null">
        subject_name,
      </if>
      <if test="midCode != null">
        mid_code,
      </if>
      <if test="midName != null">
        mid_name,
      </if>
      <if test="midType != null">
        mid_type,
      </if>
      <if test="midOrder != null">
        mid_order,
      </if>
      <if test="midOver != null">
        mid_over,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="subjectCode != null">
        #{subjectCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null">
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="midCode != null">
        #{midCode,jdbcType=VARCHAR},
      </if>
      <if test="midName != null">
        #{midName,jdbcType=VARCHAR},
      </if>
      <if test="midType != null">
        #{midType,jdbcType=VARCHAR},
      </if>
      <if test="midOrder != null">
        #{midOrder,jdbcType=INTEGER},
      </if>
      <if test="midOver != null">
        #{midOver,jdbcType=TINYINT},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.LearnSection">
    update t_learn_section
    <set>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="subjectCode != null">
        subject_code = #{subjectCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null">
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="midCode != null">
        mid_code = #{midCode,jdbcType=VARCHAR},
      </if>
      <if test="midName != null">
        mid_name = #{midName,jdbcType=VARCHAR},
      </if>
      <if test="midType != null">
        mid_type = #{midType,jdbcType=VARCHAR},
      </if>
      <if test="midOrder != null">
        mid_order = #{midOrder,jdbcType=INTEGER},
      </if>
      <if test="midOver != null">
        mid_over = #{midOver,jdbcType=TINYINT},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.LearnSection">
    update t_learn_section
    set subject_id = #{subjectId,jdbcType=INTEGER},
      subject_code = #{subjectCode,jdbcType=VARCHAR},
      subject_name = #{subjectName,jdbcType=VARCHAR},
      mid_code = #{midCode,jdbcType=VARCHAR},
      mid_name = #{midName,jdbcType=VARCHAR},
      mid_type = #{midType,jdbcType=VARCHAR},
      mid_order = #{midOrder,jdbcType=INTEGER},
      mid_over = #{midOver,jdbcType=TINYINT},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getSectionBySubjectCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_learn_section where subject_code= #{subjectCode}
    </select>
</mapper>