<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.LearnArchiveMapper">
  <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.LearnArchive">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="learn_code" jdbcType="VARCHAR" property="learnCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="learn_year" jdbcType="VARCHAR" property="learnYear" />
    <result column="learn_quarter" jdbcType="VARCHAR" property="learnQuarter" />
    <result column="compulsory_credit" jdbcType="FLOAT" property="compulsoryCredit" />
    <result column="earned_compulsory_credit" jdbcType="FLOAT" property="earnedCompulsoryCredit" />
    <result column="total_credit" jdbcType="FLOAT" property="totalCredit" />
    <result column="earned_credit" jdbcType="FLOAT" property="earnedCredit" />
    <result column="earned_electiveCredit" jdbcType="FLOAT" property="earnedElectivecredit" />
    <result column="elective_credit" jdbcType="FLOAT" property="electiveCredit" />
    <result column="specialty_name" jdbcType="VARCHAR" property="specialtyName" />
    <result column="specialty_level_name" jdbcType="VARCHAR" property="specialtyLevelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, learn_code, create_time, organization_name, learn_year, learn_quarter, 
    compulsory_credit, earned_compulsory_credit, total_credit, earned_credit, earned_electiveCredit, 
    elective_credit, specialty_name, specialty_level_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_learn_archive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_learn_archive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mindskip.xzs.domain.LearnArchive" useGeneratedKeys="true">
    insert into t_learn_archive (user_id, user_name, learn_code, 
      create_time, organization_name, learn_year, 
      learn_quarter, compulsory_credit, earned_compulsory_credit, 
      total_credit, earned_credit, earned_electiveCredit, 
      elective_credit, specialty_name, specialty_level_name
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{learnCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{organizationName,jdbcType=VARCHAR}, #{learnYear,jdbcType=VARCHAR}, 
      #{learnQuarter,jdbcType=VARCHAR}, #{compulsoryCredit,jdbcType=FLOAT}, #{earnedCompulsoryCredit,jdbcType=FLOAT}, 
      #{totalCredit,jdbcType=FLOAT}, #{earnedCredit,jdbcType=FLOAT}, #{earnedElectivecredit,jdbcType=FLOAT}, 
      #{electiveCredit,jdbcType=FLOAT}, #{specialtyName,jdbcType=VARCHAR}, #{specialtyLevelName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mindskip.xzs.domain.LearnArchive" useGeneratedKeys="true">
    insert into t_learn_archive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="learnCode != null">
        learn_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="organizationName != null">
        organization_name,
      </if>
      <if test="learnYear != null">
        learn_year,
      </if>
      <if test="learnQuarter != null">
        learn_quarter,
      </if>
      <if test="compulsoryCredit != null">
        compulsory_credit,
      </if>
      <if test="earnedCompulsoryCredit != null">
        earned_compulsory_credit,
      </if>
      <if test="totalCredit != null">
        total_credit,
      </if>
      <if test="earnedCredit != null">
        earned_credit,
      </if>
      <if test="earnedElectivecredit != null">
        earned_electiveCredit,
      </if>
      <if test="electiveCredit != null">
        elective_credit,
      </if>
      <if test="specialtyName != null">
        specialty_name,
      </if>
      <if test="specialtyLevelName != null">
        specialty_level_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="learnCode != null">
        #{learnCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="learnYear != null">
        #{learnYear,jdbcType=VARCHAR},
      </if>
      <if test="learnQuarter != null">
        #{learnQuarter,jdbcType=VARCHAR},
      </if>
      <if test="compulsoryCredit != null">
        #{compulsoryCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedCompulsoryCredit != null">
        #{earnedCompulsoryCredit,jdbcType=FLOAT},
      </if>
      <if test="totalCredit != null">
        #{totalCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedCredit != null">
        #{earnedCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedElectivecredit != null">
        #{earnedElectivecredit,jdbcType=FLOAT},
      </if>
      <if test="electiveCredit != null">
        #{electiveCredit,jdbcType=FLOAT},
      </if>
      <if test="specialtyName != null">
        #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="specialtyLevelName != null">
        #{specialtyLevelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.LearnArchive">
    update t_learn_archive
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="learnCode != null">
        learn_code = #{learnCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationName != null">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="learnYear != null">
        learn_year = #{learnYear,jdbcType=VARCHAR},
      </if>
      <if test="learnQuarter != null">
        learn_quarter = #{learnQuarter,jdbcType=VARCHAR},
      </if>
      <if test="compulsoryCredit != null">
        compulsory_credit = #{compulsoryCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedCompulsoryCredit != null">
        earned_compulsory_credit = #{earnedCompulsoryCredit,jdbcType=FLOAT},
      </if>
      <if test="totalCredit != null">
        total_credit = #{totalCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedCredit != null">
        earned_credit = #{earnedCredit,jdbcType=FLOAT},
      </if>
      <if test="earnedElectivecredit != null">
        earned_electiveCredit = #{earnedElectivecredit,jdbcType=FLOAT},
      </if>
      <if test="electiveCredit != null">
        elective_credit = #{electiveCredit,jdbcType=FLOAT},
      </if>
      <if test="specialtyName != null">
        specialty_name = #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="specialtyLevelName != null">
        specialty_level_name = #{specialtyLevelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.LearnArchive">
    update t_learn_archive
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      learn_code = #{learnCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      learn_year = #{learnYear,jdbcType=VARCHAR},
      learn_quarter = #{learnQuarter,jdbcType=VARCHAR},
      compulsory_credit = #{compulsoryCredit,jdbcType=FLOAT},
      earned_compulsory_credit = #{earnedCompulsoryCredit,jdbcType=FLOAT},
      total_credit = #{totalCredit,jdbcType=FLOAT},
      earned_credit = #{earnedCredit,jdbcType=FLOAT},
      earned_electiveCredit = #{earnedElectivecredit,jdbcType=FLOAT},
      elective_credit = #{electiveCredit,jdbcType=FLOAT},
      specialty_name = #{specialtyName,jdbcType=VARCHAR},
      specialty_level_name = #{specialtyLevelName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>